<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.john.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- rongyun_sdk -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 使用系统UI,eg:在service中显示dialog -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 自动聚焦权限 -->
    <application
        android:name=".JohnApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.john.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity"/>
        <activity android:name=".putlayout.PutLayoutActivity"/>

        <!-- 友盟推送  开始 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="581bf4cf717c190f620007b5">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="68b4da28af70bebe70565626d4fbd218">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID">
        </meta-data>
        <!-- 友盟推送  结束 -->
        <activity
            android:name=".elevation_translationz.ElevationActivity"
            android:label="@string/title_activity_elevation">
        </activity>
        <activity
            android:name=".database.DBActivity"
            android:label="@string/title_activity_db">
        </activity>
        <activity
            android:name=".m2048.MSurfaceActivity"
            android:label="@string/title_activity_msurface">
        </activity>
        <activity android:name=".websocket.WebSocketActivity">
        </activity>
        <activity android:name=".listview.ListViewActivity">
        </activity>
        <activity android:name=".recyclerview.RecycleViewActivity">
        </activity>
        <activity android:name=".recyclerview.RVSourceActivity">
        </activity>
        <activity android:name=".download.DownLoadActivity">
        </activity>

        <!-- <service -->
        <!-- android:name=".download.MyService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- </service> -->
        <activity android:name=".ndk.NDKActivtiy">
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".countdown.CountDownActivity">
        </activity>
        <activity android:name=".bezier.sticky_water_drops.StickyWaterDropsActivity">
        </activity>
        <activity android:name=".image.longimg.LongImgActivity">
        </activity>
        <activity android:name=".video.MediaVideoActivity">
        </activity>

    </application>

</manifest>